<section id="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 image">
      <img src="<%=asset_path('dummy.jpg')%>" alt="">
      </div>
      <div class="col-xs-3">
        <h2>Send aMessage</h2>
        <form>
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="name" class="form-control" id="exampleInputname" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputMeassage">Message</label>
            <input type="message" class="form-control" id="exampleInputEmail" placeholder="message">
          </div>
          <button type="send" class="btn btn-default">Send</button>
        </form>
      </div>
      <div class="col-xs-3">
        <h2>Email / Address</h2>
        
        <li>example.com</li>
        <li>Survey no 42</li>
        <li>Raheja IT Park</li>
        <li>Madhapur</li>
        <li>Hyderabad</li>
         </div>
      <div class="col-xs-3">
        <h2>Or Give me a ring</h2>
        <p>040-32424545</p>
        <h3>Fax</h3>
        <p>+91-212-9876543</p>
      </div>
    </div>
  </div>
</section>

<footer>
 <div class="container">

   <div class="row foot">  
    <h3>Pico Tasks are  also available on mobile</h3>
    <p>Follow us on</p>
    <div class="col-xs-4"></div>
    <div class="col-xs-1">
      <a class="btn btn-social btn-facebook">
        <i class="fa fa-facebook fa-4x"></i>
      </a>
    </div>
    <div class="col-xs-1">
      <a class="btn btn-social btn-google">
        <i class="fa fa-google fa-4x"></i>
      </a>
    </div>
    <div class="col-xs-1">
      <a class="btn btn-social btn-twitter">
        <i class="fa fa-twitter fa-4x"></i>
      </a>
    </div>
    <div class="col-xs-1">
     <a class="btn btn-social btn-instagram">
      <i class="fa fa-instagram fa-4x"></i>
    </a>

  </div>
  <div class="col-xs-3"></div>
</div>
</div>
</footer>