<section id="services">
  <div class="row"></div>
  <div class="row1">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Amenities by Services</h3>
        </div>
        <div class="panel-body">
          <li class="list">Plumber</li>
          <li class="list">Electrician</li>
          <li class="list">Carpenter</li>
          <li class="list">Coming soon</li>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Amenities by Location</h3>
        </div>
        <div class="panel-body">
          <li class="list">Hyderabad</li>
          <li class="list">Banglore</li>
          <li class="list">Mumbai</li>
          <li class="list">Delhi</li>
        </div>
      </div>
    </div>
  </div> 

  
</section>

