#login {
  //background-color: #80AB9A;
 .head{
  background-color: #fffacd ;

  .reg{
    color: #FFF;
    text-decoration: none;
    margin-top: 20px;

    .max{
       border-radius: 30px;
    }
    
  }

}

.first{
  margin-top: 80px;
  margin-bottom: 100px;
}

.foot {
  font-size: 25px;
  background-color: #ffe4b5;
  min-height: 3em;
  color: #191970;
}
}